 button {  
    background-color: lightblue; 
    text-align: center; 
    color: black;  
    font-size: 40px;  
    margin: auto;  
    }  
    button:hover,input[type=button]:hover
    {
        background-color:deeppink;
    }
    body{
        background-color:aquamarine;
    }